:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #6b6cd1;
  --border-color: #dbdbdb;

  --header-height: 186px;
  --navbar-height: 48px;
  --header-with-search-height: calc(
    var(--header-height) - var(--navbar-height)
  );
  --header-sort-bar-height: 46px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Responsive */
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

/* Test */
.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.667%;
}

.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.334%;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  animation: ;
}

.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 1;
  animation: growth linear 0.1s;
}

/* Button Style */
.btn {
  min-width: 124px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0 12px;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--white-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
  box-shadow: 0 1px 2px #c0c0c0;
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Selection */
.select-input {
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 200px;
  box-shadow: 0 1px 2px #c0c0c0;
  z-index: 1;
}

.select-input__label {
  font-size: 1.4rem;
}

.select-input__icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
}

.select-input:hover .select-input__list {
  display: block;
}

.select-input__list {
  position: absolute;
  left: 0;
  top: 25px;
  border-radius: 2px;
  background-color: var(--white-color);
  padding: 10px 16px;
  list-style: none;
  display: none;
  min-width: 200px;
}

.select-input__link {
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.select-input__link:hover {
  color: var(--primary-color);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination-item {
  text-align: center;
  margin: 0 8px;
}

.pagination-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
  background-color: #8788e0;
}

.pagination-item__link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: #939393;
  height: 30px;
  min-width: 40px;
  display: block;
  line-height: 30px;
  border-radius: 2px;
}
